<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageUtility.Properties.Settings>
            <setting name="ImageMagicFilepath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsResizeByPercent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsResizeByShortestDimen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PercentList" serializeAs="String">
                <value>30,50,70,80</value>
            </setting>
            <setting name="ResizeShorterSideToPx" serializeAs="String">
                <value>1000</value>
            </setting>
        </ImageUtility.Properties.Settings>
    </userSettings>
</configuration>